[
    {
        "name": "00고등학교", 
        "link": "0000.riroschool.kr",
        "id": "해당 학교 재학생의 리로스쿨 아이디",
        "password": "해당 학교 재학생의 리로스쿨 비밀번호"
    },
    {
        "name": "OO고등학교", 
        "link": "OOOO.riroschool.kr",
        "id": "해당 학교 재학생의 리로스쿨 아이디",
        "password": "해당 학교 재학생의 리로스쿨 비밀번호"
    }
]